// utility classes
// adding some shared parts that for some reason don't exist...
.container {
  max-width: 450px;
  margin: auto;
}
.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}

// basic elements
strong {
  font-family: "Arial Black", arial, sans-serif;
}

//icons
.fa-exclamation-triangle {
  color: red;
}
.fa-check-circle {
  color: green;
}
