// user reg page (the whole app)
#username-validations > div, #username-suggestions > div {
  padding: 30px 0;
  font-size: 1em;
  i {
    float: left;
    width: 12%;
  }
  span {
    float: left;
    width: 88%;
    padding-top: 5px;
  }
}

.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border: 0;
    }
  }
}
.suggestion {
  cursor: pointer;
}